<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="section1">
      <div class="container">

        <div id="imagenes">
          <div id="imagen-principal">
            <img src="https://picsum.photos/400?random=10" alt="foto"/>
          </div>
          <div id="imagenes-secundarias">
            <img src="https://picsum.photos/400?random=11" alt="foto"/>
            <img src="https://picsum.photos/400?random=12" alt="foto"/>
            <img src="https://picsum.photos/400?random=13" alt="foto"/>
            <img src="https://picsum.photos/400?random=14" alt="foto"/>
          </div>
        </div>
        
        <div id="info">
          <h2>The legend of Heroes</h2>
          <p id="precio">59.99€</p>

          <div id="tags">
            <span class="tag">RPG</span>
            <span class="tag">Aventura</span>
            <span class="tag">Acción</span>
          </div>

          <button id="comprar">Comprar</button>
          <button id="favoritos">Añadir a favoritos</button>

        </div>
      </div>
    </section>
  </body>
</html>
